*.pyc
*.dat
*.c
*.pyd
*.so
*.mmap
*.tgn
*.pkl
*.est
*.clf
*.html
*.xml
.coverage

.DS_Store
.idea/
.vscode/
.pytest_cache/
build/
_build/
dist/
deep_forest.egg-info/
benchmarks/*.txt
benchmarks/logs
cache/
tmp/
