*.pyc
*.dat
*.c
*.pyd
*.so
*.mmap
*.tgn
*.pkl
*.est
*.clf
*.html
*.xml
.coverage
.DS_Store
package-lock.json
node_modules/
.idea/
.vscode/
.pytest_cache/
build/
_build/
dist/
deep_forest.egg-info/
cache/
tmp/
