name: DeepForest-CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display python version
      run: python -c "import sys; print(sys.version)"
    - name: Install libomp for Mac-OS
        if: runner.os == 'macOS'
        run: brew install libomp
    - name: Install package dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r build_tools/requirements.txt
    - name: Install
      run: pip install --verbose --editable .
    - name: Run tests
      run: |
        pytest ./tests --cov-config=.coveragerc --cov-report=xml --cov=deepforest deepforest
    - name: Publish code coverage
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
